.chars-group {
  background-color: #f4f4f4 !important;
  &__accordion-title{
    display: flex;
    align-items: center;
  }
  &__accordion-title-text{
    font-size: 14px !important;
    font-weight: 600 !important;
  }
  &__plus-icon{
    font-weight: 600;
    font-size: 18px;
  }
   &__accordion-summary {
     flex-direction: row-reverse;
     gap: 0.6rem;
     max-height: 20px !important;
   }
   &__accordion-title{
     justify-content: flex-start;
     display: flex;
     gap:0.3rem;
   }
  
}
.MuiCheckbox-root.MuiCheckbox-colorPrimary.MuiButtonBase-root.MuiCheckbox-root.MuiCheckbox-colorPrimary.PrivateSwitchBase-root.Mui-checked.css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root{
  padding: 0px;
}

