
.box-container{
  display: flex;
  justify-content: center;
  padding: 0;
}
.char-selector {
  .MuiSelect-select{
     display: flex;
     justify-content: flex-start;
     min-width: 120px;
     padding: 5px 10px;
  }
}
.MuiTableCell-root.MuiTableCell-body.MuiTableCell-sizeSmall.css-dsuxgy-MuiTableCell-root{
  border: none;
}
.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root{
  border:none;
}